core-image-lsb-sdk-qemux86.ext3
bzImage-qemux86.bin
core-image-lsb-sdk-qemux86.ext3
vmlinux
vmlinux.o
System.map
modules.builtin
modules.order
.tmp_kallsyms1.o
.tmp_kallsyms2.o
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
#arch/
#sound/
#security
#scripts
#usr/
#net/
#mm/
#ipc/
#init/
#include/
#fs/
#drivers/

